<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    Fruit Matcher
    <ion-button expand="block" routerLink="/fruit-matcher-level-1" routerDirection="forward">Level 1</ion-button>
    <ion-button expand="block" routerLink="/fruit-matcher-level-2" routerDirection="forward">Level 2</ion-button>
    <ion-button expand="block" routerLink="/fruit-matcher-level-3" routerDirection="forward">Level 3</ion-button>
  </div>
</ion-content>
